<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ChooseLocation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B48D89D31D6AE14D00814887</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B48D89EC1D6AE14D00814887</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B48D89F71D6AE14D00814887</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
